$color-grey-light: #979797;
$color-grey-x-light: #f3f3f3;
$color-grey-dark: #453f3f;
$color-pink: #f07495;
$color-purple: #776ede;
$color-white: #ffffff;

// Event colors
$color-magenta: #e44d90;
$color-dark-magenta: #bf3271;
$color-yellow: #f8c86d;
$color-dark-yellow: #edae49;
$color-blue: #3a8ed6;
$color-dark-blue: #30638e;
$color-turquoise: #2b9daf;
$color-dark-turquoise: #00798c;
$color-salmon: #ec6e7f;
$color-dark-salmon: #d1495b;

$colors: (
    "grey-light": $color-grey-light,
    "grey-dark": $color-grey-dark,
    "pink": $color-pink,
    "purple": $color-purple,
    "white": $color-white,
    "magenta": $color-magenta,
    "dark-magenta": $color-dark-magenta,
    "yellow": $color-yellow,
    "dark-yellow": $color-dark-yellow,
    "blue": $color-blue,
    "dark-blue": $color-dark-blue,
    "turquoise": $color-turquoise,
    "dark-turquoise": $color-dark-turquoise,
    "salmon": $color-salmon,
    "dark-salmon": $color-dark-salmon,
);
