$color-grey-light: #979797;
$color-grey-dark: #453F3F;
$color-pink: #F07495;
$color-purple: #776EDE;
$color-white: #FFFFFF;

$colors: (
    'grey-light': $color-grey-light,
    'grey-dark': $color-grey-dark,
    'pink': $color-pink,
    'purple': $color-purple,
    'white': $color-white
);