@import "./colors.scss";
@import "./fonts.scss";

.eventCard {
  width: auto;
  z-index: 1;
  height: 100%;
  color: $color-white;
  display: flex;
  flex-direction: row;
  border-radius: 4.73px;
  justify-content: space-between;
  padding: 4.5%;
  cursor: move;

  /* to do later
  .leftSide{
    width: 5px;
    height: 120%;
    background-color: black; // Change to darker version of background color
    border-radius: 4.73px 0 0 4.73px;
  }
  */

  .middle {
    width: 80%;
    display: flex;
    max-height: 35px;

    img {
      //margin: 2% 0 2% 1%;
    }

    .headerContainers {
      margin: 0 0 0 5px;
      display: flex;
      flex-direction: column;
      justify-content: center;

      h1 {
        font-family: "Roboto", Times, serif;
        font-size: 9.8px;
        font-weight: bold;
      }

      h2 {
        font-family: "Roboto", sans-serif;
        font-size: 8.27px;
        font-weight: 500;
      }
    }
  }

  .right{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    max-height: 35px;
    align-items: center;

    h2{
     color: #FFF;
     font-weight: 800;
     cursor: pointer;
    }

    p {
      margin: 0 2px 0 0;
      font-family: "Roboto", sans-serif;
      font-size: 7.28px;
    }
  }
}

.DIN {
  background-color: $color-salmon;
  border-left: 5px solid $color-dark-salmon;
}
.TRANSS {
  background-color: $color-turquoise; // Change to right vcolor vars
  border-left: 5px solid $color-dark-turquoise;
}
.TRANSL {
  background-color: $color-blue; // Change to right vcolor vars
  border-left: 5px solid $color-dark-blue;
}
.ACC {
  background-color: $color-magenta; // Change to right vcolor vars
  border-left: 5px solid $color-dark-magenta;
}
.POI {
  background-color: $color-yellow; // Change to right vcolor vars
  border-left: 5px solid $color-dark-yellow;
}
