@import "./colors.scss";

.eventCard {
  width: auto;
  height: auto;
  color: $color-white;
  display: flex;
  flex-direction: row;
  border-radius: 4.73px;
  justify-content: space-between;
  padding: 2%;

  /* to do later
  .leftSide{
    width: 5px;
    height: 120%;
    background-color: black; // Change to darker version of background color
    border-radius: 4.73px 0 0 4.73px;
  }
  */

  .middle {
    width: 80%;
    display: flex;

    img {
      //margin: 2% 0 2% 1%;
    }

    .headerContainers {
      margin: 0 0 0 2%;
      display: flex;
      flex-direction: column;
      justify-content: center;

      h1 {
        font-family: 'Roboto', sans-serif;
        font-size: 8.27px;
      }

      h2 {
        font-family: 'Roboto', sans-serif;
        font-size: 8.27px;
      }
    }
  }

  p {
    font-family: 'Roboto', sans-serif;
    font-size: 8.27px;
  }
}

.food{
  background-color: $color-pink;
}
.car{
  background-color: $color-pink; // Change to right vcolor vars
}
.flight{
  background-color: $color-pink; // Change to right vcolor vars
}
.accomodation{
  background-color: $color-pink; // Change to right vcolor vars
}
.poi{
  background-color: $color-pink; // Change to right vcolor vars
}