@import '../styles/main.scss';


@font-face {
  font-family: 'Roboto';
  src: url('https://fonts.googleapis.com/css2?family=Roboto:wght@900&display=swap');
}

.LoginPage {
  display: flex;
  align-content: stretch;
  flex-flow: row;
  justify-content: center;
  background: blue;
  width: 100vw;
  height: 100vh;
  position: absolute;
  padding: 70px;
}

.LoginPage .LoginDialog {
  align-self: center;
  justify-self: stretch;
  display: flex;
  min-height: max-content;
  min-width: max-content;
  max-width: 500px;
  max-height: 800px;
  width: 40%;
  height: 90%;
  margin: 70px;
  padding: 35px;
  text-align: center;
  position: absolute;
  display: flex;
  background: #ffffff80;
  border-radius: 47px;
}

.LoginDialog .WelcomeMessage {
  font-face: 'Roboto';
}